<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TANSUAT" value="1" />
    <add key="ConnectASC" value="P/Q0Uvj90YybIFWXU4d0f09f0dBZ1JkOF/tR9GAsD5HyOvWKlRUifldzvmYynxoXhHGK9JTTLjxdJ9uJP/c9qDq+mEONAvG0tTb2jX6Vj0e8lyW0Hs1zFsvbHeyyxzKcDYoVqvuj/fWNRUopMokDlq5AK8RBset4"/>
    <add key="Connect31" value="P/Q0Uvj90YybIFWXU4d0f415dUXxDC83F/tR9GAsD5HkvgHh/fMz0TXZebL/F554clpuvoHL61/18dzG8MZf0c6WZVFrofDRq0RYLvm1APnrEoaacz7Br7iCXQmhTXOspHugY8MdT5b8bWTn0IB1HQ=="/>
    <add key="Connect" value="P/Q0Uvj90YxJX2YKDge/xXR+Z5B29+gY3UT5u3E2/rXjTf8/vtr/qGAV0a0V1WWTNQMiXDZXULHnmgAy68WxvkVKQw96/5sEKI0wOweJGHk1woVxLz7WIgEqCdzXyQQtCrxz8dQYlTPbdvB/38f/sq5AK8RBset4"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="asc_serviceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://asc2.kangaroo.vn/asc_service.asmx"
                binding="basicHttpBinding" bindingConfiguration="asc_serviceSoap"
                contract="ASCService.asc_serviceSoap" name="asc_serviceSoap" />
        </client>
    </system.serviceModel>
</configuration>